@import url('./_active/header__lang_active.css');

.header__lang {
  text-decoration: none;
  color:#fff;
  padding-right: 18px;
}
.header__lang:last-of-type {
  padding-right: 0;
}

@media (max-width : 767px) {
  .header__lang {
    padding-right: 16px;
    font-size:  1.125rem;
    line-height: 1.15;
  }
}
