.intro__list {
    font-weight: bold;
    font-size: 0.8125rem;
    line-height: 1.538em;
    margin-top: 35px;
    margin-bottom: 92px;
    list-style-type: none;
    padding: 0;
  }
  
  @media (min-width : 1600px) {
    .intro__list {
      font-size: 1.125rem;
    }
  }
  @media (max-width : 425px) {
    .intro__list {
      font-size: 0.75rem;
      line-height: 1.188rem;
    }
  }