.content-subtitle {
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.458em;
  max-width: 25em;
  text-align: center;
  padding-top: 2em;
  margin: 0;
}
@media (min-width : 426px) and (max-width : 1023px) {

  .content-subtitle {
    max-width: calc(100% - 16px*2);
  }

}
@media (max-width : 425px) {
  .content-subtitle {
    font-size: 1rem;
    line-height: 1.438em;
    padding-top: 1rem;
    min-width: calc(100% - 16px*2);
  }
}