.cover__title {
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 4.875rem;
  z-index: 1;
  position: relative;
  left: 0;
  top: 274px;
  margin: 0;
  max-width: 80%;
  
}
@media (min-width : 768px) and (max-width : 1023px) {
  .cover__title {
  top: 165px;
  }
}
@media (min-width : 351px) and (max-width : 767px) {
  .cover__title {
    font-size: 2rem;
    line-height: 1.094em;
    top: 104px;
  }
}
@media (max-width : 350px) {
  .cover__title {
    font-size: 2rem;
    line-height: 1.094em;
    top: 64px;
    }
}
